---
import LocationButton from "./LocationButton.astro";

interface Props {
  title: string;
  subtitle: string;
  celebration: string;
  date: string;
  start: string;
  location: string;
}

const { title, subtitle, celebration, date, start, location } = Astro.props;
---

<div class="container">
  <div>
    <img src="/images/ba_02_min.jpg" alt={title} class="image-bg" />
  </div>
  <div>
    <h3>{subtitle.toUpperCase()}</h3>
    <h2 class="mt-null">{title}</h2>
    <h3>{celebration.toUpperCase()}</h3>
    <h2>{date}</h2>
    <h3>{start.toUpperCase()}</h3>
    <h3>{location.toUpperCase()}</h3>
    <LocationButton
      href="https://maps.app.goo.gl/8CGmwwiiaHYQ8VKS7"
      type="weeding"
      content="Ver la ubicación del evento"
    />
  </div>
</div>

<style>
  .container {
    height: 100vh;
    width: 100%;
    margin: 60px auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  .image-bg {
    width: 100%;
  }
  .container h2 {
    font-size: 36px;
  }
  .mt-null {
    margin-top: 0;
    font-family: "Playball", sans-serif;
    font-weight: 400;
  }

  @media only screen and (min-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .image-bg {
      max-width: 350px;
    }
  }
</style>
